/.vs/Mechtoria/FileContentIndex/48db643d-ae72-48ae-a063-efbba04d5977.vsidx
/.vs/Mechtoria/FileContentIndex/ba2de662-9637-4962-9aa7-aa73ca245a8f.vsidx
/.vs/Mechtoria/FileContentIndex/read.lock
/.vs/Mechtoria/v17/.suo
/.vs/Mechtoria/v17/Browse.VC.db
/.vs/Mechtoria/v17/Browse.VC.db-shm
/.vs/Mechtoria/v17/Browse.VC.db-wal
/.vs/Mechtoria/v17/Browse.VC.opendb
/Mechtoria/x64/Debug/CollisionVolume.obj
/Mechtoria/x64/Debug/Command.obj
/Mechtoria/x64/Debug/Engine.obj
/Mechtoria/x64/Debug/EngineNodePool.obj
/Mechtoria/x64/Debug/FiniteStateMachine.obj
/Mechtoria/x64/Debug/Game.obj
/Mechtoria/x64/Debug/GameObjectController.obj
/Mechtoria/x64/Debug/GameObjectDynamic.obj
/Mechtoria/x64/Debug/GamePlayState.obj
/Mechtoria/x64/Debug/InputDevice.obj
/Mechtoria/x64/Debug/InputHandler.obj
/Mechtoria/x64/Debug/MainMenuState.obj
/Mechtoria/x64/Debug/Mechtoria.Build.CppClean.log
/Mechtoria/x64/Debug/Mechtoria.exe.recipe
/Mechtoria/x64/Debug/Mechtoria.ilk
/Mechtoria/x64/Debug/Mechtoria.log
/Mechtoria/x64/Debug/Mechtoria.tlog/CL.command.1.tlog
/Mechtoria/x64/Debug/Mechtoria.tlog/CL.read.1.tlog
/Mechtoria/x64/Debug/Mechtoria.tlog/CL.write.1.tlog
/Mechtoria/x64/Debug/Mechtoria.tlog/Mechtoria.lastbuildstate
/Mechtoria/x64/Debug/Mechtoria.tlog/Mechtoria.write.1u.tlog
/Mechtoria/x64/Debug/Mechtoria.tlog/link.command.1.tlog
/Mechtoria/x64/Debug/Mechtoria.tlog/link.read.1.tlog
/Mechtoria/x64/Debug/Mechtoria.tlog/link.write.1.tlog
/Mechtoria/x64/Debug/Mechtoria.vcxproj.FileListAbsolute.txt
/Mechtoria/x64/Debug/Node.obj
/Mechtoria/x64/Debug/QuadTreeTestState.obj
/Mechtoria/x64/Debug/QuadTreeV2.obj
/Mechtoria/x64/Debug/SceneNodePool.obj
/Mechtoria/x64/Debug/Shape.obj
/Mechtoria/x64/Debug/SideScrollState.obj
/Mechtoria/x64/Debug/SweepAndPruneCollision.obj
/Mechtoria/x64/Debug/TopDownState.obj
/Mechtoria/x64/Debug/main.obj
/Mechtoria/x64/Debug/raylibcpp.obj
/Mechtoria/x64/Debug/vc143.idb
/Mechtoria/x64/Debug/vc143.pdb
/Mechtoria/x64/Debug/vcpkg.applocal.log
/x64/Debug/Mechtoria.exe
/x64/Debug/Mechtoria.pdb
/x64/Debug/raylib.dll
